@import "./components/font"; // 1

@import "./components/color"; // 2

@import "./helpers/mixin"; // 3

@import "./helpers/variables"; // 4

@import "./pages/global"; // 5

@import "./animation/animation"; // 6

@import "./components/border"; // 7

@import "./components/buttons"; // 8

@import "./components/loading"; // 9

@import "./components/fixed-menu"; // 10

@import "./classes/bootstrap-classes"; // 11
@import "./classes/jquery-classes"; // 12
@import "./classes/sass-learn"; // 10

@import "./components/framework"; // 11

@import "./core/bourbon"; // 12
.cayan {
  margin: 100px auto;
  border: 2px solid #999;
  width: 30%;
  height: 300px;
  @include borderRadius(5px);
  padding: 20px;
  @include flexCenter;
}
