// element-with-border

.element-with-border {
  position: relative;

  .inner {
    background-color: map-get($colors, 21);

    text-align: center;

    color: #fff;

    margin: 40px auto;

    @include borderRadius(15px);

    width: 300px;

    padding: 10px 15px;

    &:before {
      content: "";

      width: 100%;

      height: 1px;

      background-color: map-get($colors, 500);

      position: absolute;

      left: 0;

      top: 50%;

      z-index: -1;
    }
  }
}
/*
 <!-- Start social one -->
<div class="social-one">
  <div class="social-main social-center">
    <div class="social-box">
      <div class="social-icon-box social-center">
        <i class="fa fa-instagram fa-2x "></i>
      </div>
      <div class="social-inner-box social-center">
        <p>instagram</p>
      </div>
    </div>
    <div class="social-box">
      <div class="social-icon-box social-center ib-t">
        <i class="fa fa-twitter fa-2x "></i>
      </div>
      <div class="social-inner-box social-center"><p>twitter</p></div>
    </div>
    <div class="social-box">
      <div class="social-icon-box social-center ib-f">
        <i class="fa fa-facebook fa-2x "></i>
      </div>
      <div class="social-inner-box social-center">
        <p>facebook</p>
      </div>
    </div>
    <div class="social-box">
      <div class="social-icon-box social-center ib-w">
        <i class="fa fa-whatsapp fa-2x "></i>
      </div>
      <div class="social-inner-box social-center">
        <p>whatsapp</p>
      </div>
    </div>
  </div>
</div>
<!-- End social one-->
*/
// social media
.social-one {
  margin-top: 50px;
  .social-center {
    height: 100%;
    width: 100%;
    // بيخالى العنصر فى النص
    @include flexCenter;
  }
  .social-main {
    // height: 110px;
    // width: 100%;
    > div {
      @include grid-right(4, 2%);
    }
  }

  .social-box {
    width: 70px;
    height: 70px;
    position: relative;
    // margin: 0px 20px;
  }
  .social-icon-box,
  .social-inner-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c13584;
    color: #fff;
    @include borderRadius(10px);
    cursor: pointer;
    @include transition(0.5s);
  }
  .ib-t {
    background: #1da1f2;
  }
  .ib-f {
    background: #3498db;
  }
  .ib-w {
    background: #25d366;
  }
  .social-box:hover .social-icon-box {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  .social-inner-box {
    background: #fffeff;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    color: rgb(41, 41, 41);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.082);
    p {
      font-family: $font-cairo;
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

// scroll to top
// scroll-to-top-1
/*
<!-- Start scroll to top -->
<a href="#" class="scroll-to-top" id="scroll-to-top-1">
 <i class="fa fa-chevron-up fa-2x fa-fw"></i>
</a>
<!-- End scroll to top -->
*/
#scroll-to-top-1 {
  background-color: #333;
  color: #fff;
  display: block;
  padding: 0px 5px 3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// scroll-to-top-2
/*
<!-- Start scroll to top -->     
<a href="#" class="scroll-to-top" id="scroll-to-top-2">       
<i class="fa fa-chevron-circle-up fa-2x fa-fw"></i>
</a>     
<!-- End scroll to top -->
*/
#scroll-to-top-2 {
  background-color: #2b3c4d;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// scroll-to-top-3
/*
<!-- Start scroll to top -->
<a href="#" class="scroll-to-top" id="scroll-to-top-3">
  <i class="fa fa-hand-pointer-o fa-fw fa-2x"></i>
</a>
<!-- End scroll to top -->
*/
#scroll-to-top-3 {
  background-color: #007bff;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// css-before-after-width-height
/*
class="css-before-after-width-height "
*/
.css-before-after-width-height {
  position: relative;
  @include transition(0.5s);
  z-index: 8;
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    content: "";
    background: rgb(95, 95, 95);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    z-index: -9;
    opacity: 0;
  }
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(104, 104, 104, 0.671);
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    z-index: -9;
    opacity: 0;
  }
  &:hover::after,
  &:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

// css-parent-backward
/*
class="css-parent-backward"
 class="css-backward-show"
 class="css-backward-hide"
*/
.css-parent-backward {
  position: relative;
  overflow: hidden;
  @include transition(0.5s);
  .css-backward-show {
    transform: translateY(0%);
    position: relative;
    overflow: hidden;
    @include transition(0.5s);
  }
  .css-backward-hide {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    @include transition(0.5s);
  }
  &:hover .css-backward-show {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  &:hover .css-backward-hide {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
// menu-plus
/*
<!-- Start menu-plus -->
    <div class="menu-Plus">
      <button class="plus" onclick="openMenu()">+</button>
      <ul>
        <li>menu</li>
        <li>about</li>
        <li>contact</li>
      </ul>
    </div>
    <!-- End menu-plus -->
*/
.menu-Plus {
  background-color: #eee;
  padding: 10px;
  width: 150px;
  -webkit-clip-path: circle(20px at 120px 30px);
  clip-path: circle(20px at 120px 30px);
  @include transition(0.5s);
  //
  .plus {
    font-size: $font-page + 14;
    background-color: #eee;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    @include borderRadius(50%);
  }
  ul {
    li {
      margin-bottom: 10px;
    }
  }
  &.open {
    -webkit-clip-path: circle(20px at 30px 30px);
    clip-path: circle(200px at 20px 20px);
  }
}
// clip path
/*
<div class="css-clip-path-1">
 <a href="">
   <img
   src="https://placeimg.com/200/200/arch"
   alt=""
   class="img-fluid img-thumbnail"
 />
 <img
   src="https://placeimg.com/200/200/nature"
   alt=""
   class="img-fluid img-thumbnail"
 />
 <img
   src="https://placeimg.com/200/200/people"
   alt=""
                class="img-fluid img-thumbnail"
 />
 <img
     src="https://placeimg.com/200/200/tech"
     alt=""
     class="img-fluid img-thumbnail"
   />
 </a> 
</div>
*/
.css-clip-path-1 {
  position: relative;
  height: 250px;
  width: 100%;

  a {
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 1s;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      background-size: cover;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        -webkit-clip-path: circle(0 at 0% 100%);
        clip-path: circle(0 at 0% 100%);
      }
    }
  }

  &:hover img:nth-child(2),
  &:hover img:nth-child(3),
  &:hover img:nth-child(4) {
    -webkit-clip-path: circle(150% at 0% 100%);
    clip-path: circle(150% at 0% 100%);
  }
  &:hover img:nth-child(2) {
    transition-delay: 0;
    transition-duration: 2s;
  }
  &:hover img:nth-child(3) {
    transition-delay: 1s;
    transition-duration: 2s;
  }
  &:hover img:nth-child(4) {
    transition-delay: 2s;
    transition-duration: 2s;
  }
}

/*
<div class="parent-face-back-rotatex">
      <div class="button-text">
        <span class="btn-face single-text">see more</span>
        <a href="#" class="btn-back single-text">click here</a>
      </div>
    </div>
*/
//

.parent-face-back-rotatex {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  cursor: pointer;
  perspective: 600px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  .button-text {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    transform-style: preserve-3d;
    @include transition(0.5s);
    .single-text {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover {
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
    }
    .btn-face {
      margin: 0;
      color: #fff;
      background-color: tomato;
    }
    .btn-back {
      color: #fff;
      background-color: #1abc9c;
      text-decoration: none;
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
    }
  }
}

/*
<div class="parent-face-back-rotatey">
      <div class="button-text">
        <span class="btn-face single-text">see more</span>
        <a href="#" class="btn-back single-text">click here</a>
      </div>
    </div>
*/
//

.parent-face-back-rotatey {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 150px;
  cursor: pointer;
  perspective: 600px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  .button-text {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    transform-style: preserve-3d;
    @include transition(0.5s);
    .single-text {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:hover {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
    }
    .btn-face {
      margin: 0;
      color: #fff;
      background-color: tomato;
    }
    .btn-back {
      color: #fff;
      background-color: #1abc9c;
      text-decoration: none;
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
    }
  }
}
/*
<div class="parent-view">
      <div class="view-area">
        <div class="play">
          <i class="fa fa-play"></i>
        </div>
      </div>
    </div>
*/
// view
.parent-view {
  height: 300px;
  width: 100%;
  position: relative;
  .view-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    .play {
      width: 80px;
      height: 80px;
      background: #ffcd44;
      color: #fff;
      text-align: center;
      cursor: pointer;
      line-height: 80px;
      -webkit-animation-name: shadow;
      animation-name: shadow;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      // animation: animate 2s linear infinite;
      // -webkit-animation: animate 2s linear infinite;
      @include borderRadius(50%);
      @-webkit-keyframes shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0.7);
          background-color: #007bff;
        }
        40% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        80% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0);
        }
      }
      @keyframes shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0.7);
        }
        40% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        80% {
          box-shadow: 0 0 0 50px rgba(255, 206, 67, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 206, 67, 0);
        }
      }
    }
  }
}
/*
<div class="parent-text-shadow-1">
      <h2 class="h1">hossam rashad</h2>
    </div>
*/
// parent-shadow-1
.parent-text-shadow-1 {
  background: #ddd;
  padding: 10px;
  .h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    @include transition(0.5s);
    @include hover {
      text-shadow: -1px -1px 1px #333, 0 1px 0 #333, 0 2px 0 #333, 0 2px 0 #333,
        0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 0 #333, 0 7px 0 #333,
        0 8px 0 #333, 0 9px 0 #333, 0 10px 0 #333, 0 11px 0 #333, 0 12px 0 #333,
        0 13px 0 #333, 0 14px 0 #333, 0 15px 0 #333,
        10px 25px 35px rgba(0, 0, 0, 0);
    }
  }
}
