//
.element-with-border {
  position: relative;

  .inner {
    background-color: map-get($colors, 21);

    text-align: center;

    color: #fff;

    margin: 40px auto;

    @include borderRadius(15px);

    width: 300px;

    padding: 10px 15px;

    &:before {
      content: "";

      width: 100%;

      height: 1px;

      background-color: map-get($colors, 500);

      position: absolute;

      left: 0;

      top: 50%;

      z-index: -1;
    }
  }
}
// social media

.social-one {
  margin-top: 50px;
  .social-center {
    height: 100%;
    width: 100%;
    // بيخالى العنصر فى النص
    @include flexCenter;
  }
  .social-main {
    // height: 110px;
    // width: 100%;
    > div {
      @include grid-right(4, 2%);
    }
  }

  .social-box {
    width: 70px;
    height: 70px;
    position: relative;
    // margin: 0px 20px;
  }
  .social-icon-box,
  .social-inner-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c13584;
    color: #fff;
    @include borderRadius(10px);
    cursor: pointer;
    @include transition(0.5s);
  }
  .ib-t {
    background: #1da1f2;
  }
  .ib-f {
    background: #3498db;
  }
  .ib-w {
    background: #25d366;
  }
  .social-box:hover .social-icon-box {
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  .social-inner-box {
    background: #fffeff;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    color: rgb(41, 41, 41);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.082);
  }

  .social-inner-box p {
    font-family: $font-cairo;
    font-size: $font-page - 6;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

// scroll to top
// scroll-to-top-1
#scroll-to-top-1 {
  background-color: #333;
  color: #fff;
  display: block;
  padding: 0px 5px 3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}
// scroll-to-top-2
#scroll-to-top-2 {
  background-color: #2b3c4d;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}
// scroll-to-top-3
#scroll-to-top-3 {
  background-color: #007bff;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}
