.jq-snake {
  position: relative;
  overflow: hidden;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #fff;
    text-align: center;

    .disc {
      position: absolute;
      color: #fff;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}

// Start hoverZoomLink
.css-hover-zoom-scale {
  overflow: hidden;
  img {
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
  }
}

// End hoverZoomLink

// for wol dir ltr

.owl-stage-outer {
  direction: ltr !important;
}

// fixed menu
.fixed-menu-normal,
.fixed-menu-padding-body {
  background-color: map-get($colors, 29);
  color: #fff;
  padding: 10px 10px;
  position: fixed;
  right: -150px;
  top: 0%;
  height: 1000%;
  width: 150px;
  z-index: 9999;
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
  .fa-bars {
    position: absolute;
    left: -40px;
    top: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: map-get($colors, 29);
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    font-size: 30px;
    cursor: pointer;
  }

  a {
    color: map-get($colors, 1);
    margin: 30px 0px;
    display: block;
    text-align: center;
  }
}

// mixitup
.parent-mixitup {
  img {
    width: 100%;
  }
  .box-menu {
    text-align: center;
    ul {
      li {
        font-weight: bold;
        text-transform: uppercase;
        @include borderRadius(5px);
        cursor: pointer;
        margin-bottom: 60px;
        background: map-get($colors, 29);
        font-size: 18px;
        padding: 10px 30px;
        color: #fff;
      }
      .mixitup-control-active {
        background: rgb(123, 123, 123);
      }
    }
  }
  .box-item {
    margin-bottom: 30px;
    .box-item img {
      height: 100%;
      max-height: 300px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

// popup
.btn-show-popup {
  cursor: pointer;
  position: fixed;
  left: 0px;
  top: 18px;
  display: block;
  text-align: center;
  margin-right: 20px;
  background-color: #fff;
  width: 135px;
  padding: 10px;
  font-weight: bold;
  color: #928440;
  @include borderRadius(5px);
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  //
  .inner {
    position: fixed;
    background-color: map-get($colors, 1);
    width: 50%;
    min-height: 300px;
    @include flexCenter;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    .close {
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 2px 8px;
      background-color: #eee;
      border: 1px solid #ccc;
      @include borderRadius(5px);
      cursor: pointer;
    }
  }
}

// map
.jq-map {
  width: 100%;
  min-height: 100px;
}

// navbar

nav {
  transition: 0.5s ease;
}
nav.css-nav-scroll {
  background-color: rgb(102, 102, 102) !important;
  color: aliceblue;
}

// form-1
.parent-form-1 {
  margin: 0;
  padding: 0;
  font-family: $font-cairo;
  height: 100vh;
  width: 100%;
  background-image: url("https://placeimg.com/1000/1000/tech");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .wrapper-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 400px;
    height: 480px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 50px 30px;
    @include borderRadius(20px);
    @include xs-media {
      height: 350px;
    }

    .form-img {
      width: 80px;
      height: 80px;
      @include borderRadius(50%);
      position: absolute;
      top: -40px;
      left: calc(50% - 40px);
      @include xs-media {
        display: none;
      }
    }
    .h1 {
      text-align: center;
      font-size: $font-page + 6;
      margin: 0;
      padding: 0px 0px 20px;
      @include xs-media {
        font-size: $font-page;
        padding: 0px 0px 10px;
      }
    }
    label {
      font-weight: bold;
      font-size: $font-page + 1;
      @include xs-media {
        font-weight: normal;
        font-size: $font-page - 4 !important;
      }
    }
    input {
      border: none !important;
      outline: none !important;
      border-bottom: 1px solid #fff !important;
      background: transparent;
      height: 40px;
      color: #fff;
      font-size: $font-page;
      width: 100%;
      margin-bottom: 20px;
      @include xs-media {
        height: 20px;
      }
    }
    input:focus,
    input:hover,
    input:visited,
    input:active,
    input:focus-within,
    input:focus-visible {
      border: none !important;
      outline: none !important;
      border-bottom: 1px solid #fff !important;
    }
    ::-webkit-input-placeholder {
      /* Edge */
      color: #fff;
      font-size: $font-page - 2;
      line-height: 40px;
      @include xs-media {
        font-size: $font-page - 5;
        line-height: 20px;
      }
    }

    :-ms-input-placeholder {
      /* Internet Explorer */
      color: #fff;
      font-size: $font-page - 2;
      line-height: 40px;
      @include xs-media {
        font-size: $font-page - 5;
        line-height: 20px;
      }
    }

    ::-moz-placeholder {
      color: #fff;
      font-size: $font-page - 2;
      line-height: 40px;
      @include xs-media {
        font-size: $font-page - 5;
        line-height: 20px;
      }
    }

    ::-ms-input-placeholder {
      color: #fff;
      font-size: $font-page - 2;
      line-height: 40px;
      @include xs-media {
        font-size: $font-page - 5;
        line-height: 20px;
      }
    }

    ::placeholder {
      color: #fff;
      font-size: $font-page - 2;
      line-height: 40px;
      @include xs-media {
        font-size: $font-page - 5;
        line-height: 20px;
      }
    }
    .btn-submit {
      width: 50%;
      margin: 35px auto 0px;
      @include flexCenter;
      font-size: $font-page + 4;
      @include xs-media {
        margin: 0px auto 0px;
        font-size: $font-page - 3;
      }
    }
    .sign-in-by {
      border-top: 1px solid #999;
      margin-top: 20px;
      padding: 20px 0px;
      label {
        margin-left: 20px;
        font-size: $font-page + 2;
      }
      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        //
        i {
          border: 1px solid #fff;
          padding: 10px;
          text-align: center;
          width: 40px;
          height: 40px;
          font-size: 20px;
          line-height: 20px;
          margin-left: 20px;
          cursor: pointer;
          @include borderRadius(50%);
          @include transition(0.5s);
          @include hover {
            background-color: #fff;
            color: #3498db;
            border: 1px solid #3498db;
          }
        }
      }
    }
    @include xs-media {
      padding: 20px 10px;
      width: 50%;
      .form-img {
        display: none;
      }
      label {
        font-weight: bold;
        font-size: $font-page;
      }
      ::-webkit-input-placeholder {
        /* Edge */
        color: #fff;
        font-size: $font-page - 3;
        line-height: 40px;
      }

      :-ms-input-placeholder {
        /* Internet Explorer */
        color: #fff;
        font-size: $font-page - 3;
        line-height: 40px;
      }

      ::-moz-placeholder {
        color: #fff;
        font-size: $font-page - 3;
        line-height: 40px;
      }

      ::-ms-input-placeholder {
        color: #fff;
        font-size: $font-page - 3;
        line-height: 40px;
      }

      ::placeholder {
        color: #fff;
        font-size: $font-page - 3;
        line-height: 40px;
      }
      .sign-in-by {
        label {
          display: block;
          font-size: $font-page;
          margin-bottom: 20px;
        }
        i {
          margin-left: 10px;
        }
      }
    }
  }
}
// form 2
.parent-form-2 {
  .h1 {
    text-align: center;
  }
  .submit {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 30px;
    margin: 30px auto;
    @include flexCenter;
  }
}
//
.parent-back-face {
  perspective: 600px;
  .box {
    position: relative;
    width: 100%;
    min-height: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transform-origin: right center;
    @include hover {
      transform: translateX(-100%) rotateY(-180deg);
    }
    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: $font-page;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .front {
      background-color: red;
    }
    .back {
      transform: rotateY(180deg);
      color: #000;
    }
  }
}
.center-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.center-flix {
  display: flex;
  justify-content: center;
  align-items: center;
}
